.about {
  padding: 12.5rem 0;
  text-align: center;
}

.about__timeline {
  position: relative;
  padding: 0;
  margin: 0;
}

.about__timeline::after {
  content: "";
  width: 3px;
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
}

.about__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.about__img, .about__circle {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 1rem solid #f7f7f7;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text-right {
  text-align: right;
}

.about__text-left {
  text-align: left;
}

.about__circle {
  background-color: #fed233;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
}

.about__span {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-shadow: 2px 2px 2px #e5b407;
}

.about [class*="col-"] {
  padding: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background-color: #fed233;
  border: none;
  border-radius: 5px;
  padding: 2rem 4rem;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all .2s ease-out;
}

.btn__link:link, .btn__link:visited {
  text-decoration: none;
}

.btn:hover, .btn:active {
  background-color: #e5b407;
}

.card {
  transition: all .2s ease-out;
}

.card__img {
  width: 100%;
}

.card__box {
  background-color: #ffffff;
  padding: 2rem 0;
}

.card:hover, .card:active {
  transform: scale(1.05);
}

.contact {
  padding: 12.5rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/contact.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.contact__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.contact__left {
  width: 50%;
  margin-right: 2rem;
}

.contact__right {
  width: 50%;
  margin-left: 2rem;
}

input,
textarea {
  width: 100%;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c8c8c8;
  font-weight: 700;
  text-transform: uppercase;
}

input::placeholder,
textarea::placeholder {
  color: #c8c8c8;
  font-weight: 700;
  text-transform: uppercase;
}

input:not(:last-of-type) {
  margin-bottom: 4rem;
}

textarea {
  height: 100%;
  resize: none;
}

.footer {
  padding: 4rem 0;
  color: #999;
  font-size: 1.4rem;
  font-weight: 700;
}

.footer .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
}

.footer__link:link:not(:last-child), .footer__link:visited:not(:last-child) {
  margin-right: 1rem;
}

.footer__icon {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-size: 2.7rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  transition: all .2s ease-out;
}

.footer__icon:hover, .footer__icon:active {
  color: #fed233;
}

.col-1 {
  width: 8.33333%;
}

.col-offset-1 {
  width: 8.33333%;
}

.col-offset-left-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-offset-2 {
  width: 16.66667%;
}

.col-offset-left-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  width: 25%;
}

.col-offset-left-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-offset-4 {
  width: 33.33333%;
}

.col-offset-left-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-offset-5 {
  width: 41.66667%;
}

.col-offset-left-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  width: 50%;
}

.col-offset-left-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-offset-7 {
  width: 58.33333%;
}

.col-offset-left-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-offset-8 {
  width: 66.66667%;
}

.col-offset-left-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  width: 75%;
}

.col-offset-left-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-offset-10 {
  width: 83.33333%;
}

.col-offset-left-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-offset-11 {
  width: 91.66667%;
}

.col-offset-left-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  width: 100%;
}

.col-offset-left-12 {
  margin-left: 100%;
}

@media (max-width: 991px) {
  .col-m-1 {
    width: 8.33333%;
  }
  .col-m-2 {
    width: 16.66667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333%;
  }
  .col-m-5 {
    width: 41.66667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333%;
  }
  .col-m-8 {
    width: 66.66667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333%;
  }
  .col-m-11 {
    width: 91.66667%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33333%;
  }
  .col-s-2 {
    width: 16.66667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333%;
  }
  .col-s-5 {
    width: 41.66667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333%;
  }
  .col-s-8 {
    width: 66.66667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333%;
  }
  .col-s-11 {
    width: 91.66667%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .col-x-1 {
    width: 8.33333%;
  }
  .col-x-2 {
    width: 16.66667%;
  }
  .col-x-3 {
    width: 25%;
  }
  .col-x-4 {
    width: 33.33333%;
  }
  .col-x-5 {
    width: 41.66667%;
  }
  .col-x-6 {
    width: 50%;
  }
  .col-x-7 {
    width: 58.33333%;
  }
  .col-x-8 {
    width: 66.66667%;
  }
  .col-x-9 {
    width: 75%;
  }
  .col-x-10 {
    width: 83.33333%;
  }
  .col-x-11 {
    width: 91.66667%;
  }
  .col-x-12 {
    width: 100%;
  }
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px;
}

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}

.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.header__text {
  font-size: 5rem;
  font-family: "Charm", cursive;
}

.logotypes {
  padding: 6rem 0;
}

.logotypes .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.logotypes__img {
  width: auto;
  height: 100%;
}

.nav {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 4rem;
}

.nav__logo {
  font-family: "Great Vibes", cursive;
  color: #fed233;
  font-size: 3.2rem;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: all .2s ease-out;
}

.nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
  color: #fed233;
}

.portfolio {
  padding: 12.5rem 0;
  background-color: #f7f7f7;
  text-align: center;
}

.services {
  text-align: center;
  padding: 12.5rem 0;
}

.services__icon {
  color: #fed233;
  font-size: 3.5rem;
  border: 3px solid #fed233;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
}

.team {
  padding: 12.5rem 0;
  background-color: #f7f7f7;
  text-align: center;
}

.team__img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__link:link, .team__link:visited {
  text-decoration: none;
}

.team__link:link:not(:last-child), .team__link:visited:not(:last-child) {
  margin-right: 1rem;
}

.team__icon {
  color: #000000;
  font-size: 2.2rem;
  width: 5rem;
  height: 5rem;
  line-height: 4.3rem;
  border-radius: 50%;
  border: 4px solid #000000;
  transition: all .2s ease-out;
}

.team__icon:hover, .team__icon:active {
  background-color: #000000;
  color: #fed233;
}

.team__text {
  padding: 0 20rem;
}

.heading-1,
.heading-2,
.heading-2-white,
.heading-4 {
  text-transform: uppercase;
}

.heading-1 {
  color: #ffffff;
  font-size: 7rem;
}

.heading-2,
.heading-2-white {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.heading-2-white {
  color: #ffffff;
}

.heading-3,
.heading-4 {
  font-size: 2.2rem;
}

.paragraph-1,
.paragraph-2,
.paragraph-3,
.paragraph-4 {
  font-family: "Aleo", serif;
  color: #999;
}

.paragraph-1,
.paragraph-4 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.paragraph-2,
.paragraph-3 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.paragraph-1,
.paragraph-3 {
  font-style: italic;
}

.u-margin-top {
  margin-top: 1.3rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-large {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom {
  margin-bottom: 1.3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}
/*# sourceMappingURL=style.css.map */