.about { padding: 12.5rem 0; text-align: center; }

@media only screen and (max-width: 1200px) { .about { padding: 12.5rem 2rem; } }

@media only screen and (max-width: 991px) { .about { padding: 10rem 2rem; } }

@media only screen and (max-width: 767px) { .about { padding: 8rem 2rem; } }

@media only screen and (max-width: 576px) { .about { padding: 6.5rem 2rem; } }

.about__timeline { position: relative; padding: 0; margin: 0; }

.about__timeline::after { content: ""; width: 3px; background-color: #f7f7f7; position: absolute; top: 0; bottom: 0; left: 50%; z-index: -1; }

@media only screen and (max-width: 991px) { .about__timeline::after { display: none; } }

.about__box { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; }

.about__box:nth-of-type(even) { -ms-flex-pack: end; justify-content: flex-end; }

.about__box:last-of-type { margin-bottom: 0; margin-top: -4rem; }

@media only screen and (max-width: 991px) { .about__box { -ms-flex-wrap: nowrap; flex-wrap: nowrap; margin-bottom: 0; } }

@media only screen and (max-width: 576px) { .about__box { -ms-flex-direction: column; flex-direction: column; } }

.about__text { padding: 0 4rem; width: calc(50% - 12.5rem); }

.about__text--right { text-align: right; }

@media only screen and (max-width: 576px) { .about__text--right { text-align: center; } }

.about__text--left { text-align: left; }

@media only screen and (max-width: 576px) { .about__text--left { text-align: center; } }

@media only screen and (max-width: 991px) { .about__text { padding: 0 2rem; width: calc(100% - 25rem); } }

@media only screen and (max-width: 991px) { .about__text { width: calc(100% - 20rem); } }

@media only screen and (max-width: 576px) { .about__text { padding: 0; width: 100%; -ms-flex-order: 1; order: 1; } }

.about__img, .about__circle { width: 25rem; height: 25rem; border-radius: 50%; border: 1rem solid #f7f7f7; -o-object-fit: cover; object-fit: cover; }

@media only screen and (max-width: 767px) { .about__img, .about__circle { width: 20rem; height: 20rem; } }

@media only screen and (max-width: 576px) { .about__img, .about__circle { -ms-flex-order: 0; order: 0; width: 15rem; height: 15rem; } }

.about__circle { background-color: #fed233; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; -ms-flex-direction: column; flex-direction: column; margin: 0 auto; color: #ffffff; text-transform: uppercase; font-weight: 700; font-size: 2.5rem; line-height: 3.5rem; text-shadow: 2px 2px 2px #e5b407; }

@media only screen and (max-width: 991px) { .about__circle { margin-top: 8rem; } }

@media only screen and (max-width: 576px) { .about__circle { font-size: 1.5rem; line-height: 2rem; } }

.about [class*="col-"] { padding: 0 !important; }

*, *::before, *::after { box-sizing: border-box; padding: 0; margin: 0; }

html { font-size: 62.5%; }

body { font-family: "Roboto", sans-serif; }

*:focus, button:focus { outline: 0; }

.container { width: 100%; max-width: 1140px; margin: 0 auto; }

.btn, .btn:link, .btn:visited { background-color: #fed233; border: none; border-radius: 5px; padding: 2rem 4rem; cursor: pointer; color: #ffffff; text-transform: uppercase; font-weight: 700; text-decoration: none; transition: all .2s ease-out; }

@media only screen and (max-width: 1200px) { .btn, .btn:link, .btn:visited { padding: 1.8rem 3.6rem; } }

@media only screen and (max-width: 576px) { .btn, .btn:link, .btn:visited { padding: 1.3rem 3rem; } }

@media only screen and (min-width: 1200px) { .btn:hover, .btn:active, .btn:link:hover, .btn:link:active, .btn:visited:hover, .btn:visited:active { background-color: #e5b407; } }

.card { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.card__container { transition: all .2s ease-out; -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; padding: 2rem; }

@media only screen and (max-width: 991px) { .card__container { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }

@media only screen and (max-width: 576px) { .card__container { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }

@media only screen and (min-width: 1200px) { .card__container:hover, .card__container:active { transform: scale(1.05); } }

.card__img { width: 100%; }

.card__box { background-color: #ffffff; padding: 2rem 0; }

.contact { padding: 12.5rem 0; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/contact.png); background-size: cover; background-position: center; text-align: center; }

@media only screen and (max-width: 1200px) { .contact { padding: 12.5rem 2rem; } }

@media only screen and (max-width: 991px) { .contact { padding: 10rem 2rem; } }

@media only screen and (max-width: 767px) { .contact { padding: 8rem 2rem; } }

@media only screen and (max-width: 576px) { .contact { padding: 6.5rem 2rem; } }

.contact__box { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; }

@media only screen and (max-width: 991px) { .contact__box { -ms-flex-direction: column; flex-direction: column; } }

.contact__left { width: 50%; margin-right: 2rem; }

@media only screen and (max-width: 991px) { .contact__left { width: 100%; margin-right: 0; } }

.contact__right { width: 50%; margin-left: 2rem; }

@media only screen and (max-width: 991px) { .contact__right { width: 100%; margin-left: 0; } }

input, textarea { width: 100%; border-radius: 4px; border: none; font-family: "Roboto", sans-serif; font-size: 1.5rem; padding: 2rem; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #c8c8c8; font-weight: 700; text-transform: uppercase; }

input::placeholder, textarea::placeholder { color: #c8c8c8; font-weight: 700; text-transform: uppercase; }

input:not(:last-of-type) { margin-bottom: 4rem; }

@media only screen and (max-width: 991px) { input:not(:last-of-type) { margin-bottom: 1rem; } }

textarea { height: 100%; resize: none; }

@media only screen and (max-width: 991px) { textarea { margin-top: 1rem; height: 20rem; } }

.footer { padding: 3rem 0; color: #999; font-size: 1.4rem; font-weight: 700; }

.footer__box { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-align: center; align-items: center; -ms-flex-pack: justify; justify-content: space-between; }

@media only screen and (max-width: 1200px) { .footer__box { padding: 0 1rem; } }

@media only screen and (max-width: 991px) { .footer__box { padding: 0; -ms-flex-direction: column; flex-direction: column; text-align: center; } }

.footer__text { width: 25%; }

@media only screen and (max-width: 991px) { .footer__text { margin-bottom: 3rem; width: 100%; } }

@media only screen and (max-width: 576px) { .footer__text { text-align: center; } }

.footer__social { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; justify-content: center; width: 50%; margin-right: 25%; }

@media only screen and (max-width: 991px) { .footer__social { margin-right: 0; width: 100%; } }

.footer__link:link, .footer__link:visited { text-decoration: none; margin: 1rem; }

@media only screen and (max-width: 576px) { .footer__link:link, .footer__link:visited { margin: .5rem; } }

.footer__icon { text-align: center; color: #ffffff; background-color: #000000; font-size: 2.7rem; width: 5rem; height: 5rem; line-height: 5rem; border-radius: 50%; transition: all .2s ease-out; }

@media only screen and (min-width: 1200px) { .footer__icon:hover, .footer__icon:active { color: #fed233; } }

.header { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.png"); background-size: cover; background-position: center; height: 90vh; position: relative; }

@media only screen and (max-width: 767px) { .header { height: 100vh; } }

.header__box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #ffffff; text-align: center; }

.header__text { font-size: 5rem; font-family: "Charm", cursive; }

@media only screen and (max-width: 1200px) { .header__text { font-size: 4rem; } }

@media only screen and (max-width: 767px) { .header__text { font-size: 3rem; } }

@media only screen and (max-width: 576px) { .header__text { font-size: 2.5rem; } }

.logotypes { padding: 6rem 0; }

.logotypes__list { list-style: none; display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-align: center; align-items: center; }

@media only screen and (max-width: 767px) { .logotypes__list { -ms-flex-direction: column; flex-direction: column; } }

.logotypes__item { display: inline-block; }

.logotypes__img { width: auto; height: 100%; }

@media only screen and (max-width: 767px) { .logotypes__img { margin: 1rem 0; } }

.nav { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding-top: 4rem; }

@media only screen and (max-width: 1200px) { .nav { padding: 4rem 2rem 0; } }

@media only screen and (max-width: 767px) { .nav { -ms-flex-direction: column; flex-direction: column; } }

.nav__logo { font-family: "Great Vibes", cursive; color: #fed233; font-size: 3.2rem; }

@media only screen and (max-width: 767px) { .nav__logo { margin-bottom: 2rem; font-size: 4rem; } }

.nav__list { list-style: none; }

@media only screen and (max-width: 576px) { .nav__list { display: none; } }

.nav__item { display: inline-block; }

.nav__item:not(:last-child) { margin-right: 3rem; }

@media only screen and (max-width: 767px) { .nav__item:not(:last-child) { margin-right: 1.5rem; } }

@media only screen and (max-width: 576px) { .nav__item:not(:last-child) { margin-right: 0; } }

@media only screen and (max-width: 576px) { .nav__item { display: block; text-align: center; margin-top: .5rem; } }

.nav__link:link, .nav__link:visited { text-decoration: none; color: #ffffff; text-transform: uppercase; font-size: 1.5rem; letter-spacing: 1px; transition: all .2s ease-out; }

@media only screen and (min-width: 1200px) { .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active { color: #fed233; } }

@media only screen and (max-width: 767px) { .nav__link:link, .nav__link:visited { font-size: 1.8rem; } }

@media only screen and (max-width: 576px) { .nav__link:link, .nav__link:visited { color: #fed233; font-size: 2rem; border-bottom: 1px solid #fed233; padding: 1rem 0; display: block; } }

input[type="checkbox"] { display: none; }

input[type="checkbox"]:checked ~ .hidden__menu { display: block; }

.hidden { display: block; top: 0; width: 100%; }

.hidden__toggle { display: none; }

@media only screen and (max-width: 576px) { .hidden__toggle { display: block; position: absolute; top: 0; right: 0; z-index: 200; } }

.hidden__icon { color: #fed233; width: 5rem; height: 5rem; font-size: 3rem; line-height: 5rem; text-align: center; }

.hidden__menu { transition: all .2s ease-out; display: none; top: 0; background-color: #000000; overflow: hidden; }

.portfolio { padding: 12.5rem 0; background-color: #f7f7f7; text-align: center; }

@media only screen and (max-width: 1200px) { .portfolio { padding: 12.5rem 2rem; } }

@media only screen and (max-width: 991px) { .portfolio { padding: 10rem 2rem; } }

@media only screen and (max-width: 767px) { .portfolio { padding: 8rem 2rem; } }

@media only screen and (max-width: 576px) { .portfolio { padding: 6.5rem 2rem; } }

.services { text-align: center; padding: 12.5rem 0; }

@media only screen and (max-width: 1200px) { .services { padding: 12.5rem 2rem; } }

@media only screen and (max-width: 991px) { .services { padding: 10rem 2rem; } }

@media only screen and (max-width: 767px) { .services { padding: 8rem 2rem; } }

@media only screen and (max-width: 576px) { .services { padding: 6.5rem 2rem; } }

.services__container { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media only screen and (max-width: 991px) { .services__container { -ms-flex-direction: column; flex-direction: column; } }

.services__box { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }

@media only screen and (max-width: 991px) { .services__box { margin-top: 2rem; } }

.services__icon { color: #fed233; font-size: 3.5rem; border: 3px solid #fed233; border-radius: 50%; height: 7rem; width: 7rem; line-height: 7rem; }

.team { padding: 12.5rem 0; background-color: #f7f7f7; text-align: center; }

@media only screen and (max-width: 1200px) { .team { padding: 12.5rem 2rem; } }

@media only screen and (max-width: 991px) { .team { padding: 10rem 2rem; } }

@media only screen and (max-width: 767px) { .team { padding: 8rem 2rem; } }

@media only screen and (max-width: 576px) { .team { padding: 6.5rem 2rem; } }

.team__container { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.team__box { -ms-flex-preferred-size: 33.33333%; flex-basis: 33.33333%; }

@media only screen and (max-width: 991px) { .team__box { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-top: 2rem; } }

.team__img { width: 28rem; height: 28rem; border-radius: 50%; -o-object-fit: cover; object-fit: cover; }

@media only screen and (max-width: 576px) { .team__img { width: 20rem; height: 20rem; } }

.team__link:link, .team__link:visited { text-decoration: none; }

.team__link:link:not(:last-child), .team__link:visited:not(:last-child) { margin-right: 1rem; }

.team__icon { color: #000000; font-size: 2.2rem; width: 5rem; height: 5rem; line-height: 4.3rem; border-radius: 50%; border: 4px solid #000000; transition: all .2s ease-out; }

@media only screen and (min-width: 1200px) { .team__icon:hover, .team__icon:active { background-color: #000000; color: #fed233; } }

.team__text { padding: 0 20rem; }

@media only screen and (max-width: 767px) { .team__text { padding: 0 10rem; } }

@media only screen and (max-width: 576px) { .team__text { padding: 0 1rem; } }

.heading-1, .heading-2, .heading-2-white, .heading-4 { text-transform: uppercase; }

.heading-1 { color: #ffffff; font-size: 7rem; }

@media only screen and (max-width: 1200px) { .heading-1 { font-size: 6rem; } }

@media only screen and (max-width: 991px) { .heading-1 { font-size: 5.5rem; } }

@media only screen and (max-width: 767px) { .heading-1 { font-size: 4rem; } }

@media only screen and (max-width: 576px) { .heading-1 { font-size: 3.2rem; } }

.heading-2, .heading-2-white { font-size: 4.5rem; margin-bottom: 1rem; }

@media only screen and (max-width: 1200px) { .heading-2, .heading-2-white { font-size: 4rem; } }

@media only screen and (max-width: 767px) { .heading-2, .heading-2-white { font-size: 3rem; } }

.heading-2-white { color: #ffffff; }

.heading-3, .heading-4 { font-size: 2.2rem; }

@media only screen and (max-width: 1200px) { .heading-3, .heading-4 { font-size: 2rem; } }

@media only screen and (max-width: 767px) { .heading-3, .heading-4 { font-size: 1.7rem; } }

.paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4 { font-family: "Aleo", serif; color: #999; }

.paragraph-1, .paragraph-4 { font-size: 1.8rem; line-height: 2.5rem; }

@media only screen and (max-width: 1200px) { .paragraph-1, .paragraph-4 { font-size: 1.5rem; } }

@media only screen and (max-width: 767px) { .paragraph-1, .paragraph-4 { font-size: 1.4rem; } }

.paragraph-2, .paragraph-3 { font-size: 1.6rem; line-height: 2.1rem; }

@media only screen and (max-width: 1200px) { .paragraph-2, .paragraph-3 { font-size: 1.4rem; } }

@media only screen and (max-width: 767px) { .paragraph-2, .paragraph-3 { font-size: 1.2rem; } }

.paragraph-1, .paragraph-3 { font-style: italic; }

.btn { font-size: 1.6rem; }

@media only screen and (max-width: 1200px) { .btn { font-size: 1.5rem; } }

@media only screen and (max-width: 576px) { .btn { font-size: 1.2rem; } }

.u-margin-top { margin-top: 1.3rem !important; }

.u-margin-top-small { margin-top: 2rem !important; }

.u-margin-top-medium { margin-top: 4rem !important; }

.u-margin-top-large { margin-top: 6rem !important; }

.u-margin-top-big { margin-top: 8rem !important; }

.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-bottom { margin-bottom: 1.3rem !important; }

.u-margin-bottom-small { margin-bottom: 2rem !important; }

.u-margin-bottom-medium { margin-bottom: 4rem !important; }

.u-margin-bottom-large { margin-bottom: 6rem !important; }

.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-bottom-huge { margin-bottom: 10rem !important; }
