.about {
    @include section-padding;
    text-align: center;

    &__timeline {
        position: relative;
        padding: 0;
        margin: 0;

        &::after {
            content: "";
            width: 3px;
            background-color: $color-grey-1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            z-index: -1;

            @include respond(break-l) {
                display: none;
            }
        }
    }

    &__box {
        @include flexbox;
        align-items: center;

        &:nth-of-type(even) {
            justify-content: flex-end;
        }

        &:last-of-type {
            margin-bottom: 0;
            margin-top: -4rem;
        }

        @include respond(break-l) {
            flex-wrap: nowrap;
            margin-bottom: 0;
        }

        @include respond(break-s) {
            flex-direction: column;
        }
    }

    &__text {
        padding: 0 4rem;
        width: calc(50% - 12.5rem);

        &--right {
            text-align: right;

            @include respond(break-s) {
                text-align: center;
            }
        }

        &--left {
            text-align: left;

            @include respond(break-s) {
                text-align: center;
            }
        }

        @include respond(break-l) {
            padding: 0 2rem;
            width: calc(100% - 25rem);
        }

        @include respond(break-l) {
            width: calc(100% - 20rem);
        }

        @include respond(break-s) {
            padding: 0;
            width: 100%;
            order: 1;
        }
    }

    &__img,
    &__circle {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        border: 1rem solid $color-grey-1;
        object-fit: cover;

        @include respond(break-m) {
            width: 20rem;
            height: 20rem;
        }

        @include respond(break-s) {
            order: 0;
            width: 15rem;
            height: 15rem;
        }
    }

    &__circle {
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3.5rem;
        text-shadow: 2px 2px 2px $color-primary-dark;

        @include respond(break-l) {
            margin-top: 8rem;
        }

        @include respond(break-s) {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    & [class*="col-"] {
        padding: 0 !important;
    }
}