*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    background-color: $color-primary;
    border: none;
    border-radius: 5px;
    padding: 2rem 4rem;
    cursor: pointer;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    @include transition;

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
    }

    &:hover,
    &:active {
        background-color: $color-primary-dark;
    }
}