.contact {
    @include section-padding;
    background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../images/contact.png);
    background-size: cover;
    background-position: center;
    text-align: center;

    &__box {
        display: flex;
        flex-direction: row;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__left {
        width: 50%;
        margin-right: 2rem;

        @include respond(break-l) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__right {
        width: 50%;
        margin-left: 2rem;

        @include respond(break-l) {
            width: 100%;
            margin-left: 0;
        }
    }
}

input,
textarea {
    width: 100%;
    border-radius: 4px;
    border: none;
    font-family: $font-primary;
    font-size: 1.5rem;
    padding: 2rem;

    &::placeholder {
        color: $color-grey-3;
        font-weight: 700;
        text-transform: uppercase;
    }
}

input {

    &:not(:last-of-type) {
        margin-bottom: 4rem;

        @include respond(break-l) {
            margin-bottom: 1rem;
        }
    }
}

textarea {
    height: 100%;
    resize: none;

    @include respond(break-l) {
        margin-top: 1rem;
        height: 20rem;
    }
}