.footer {
    padding: 4rem 0;
    color: $color-grey-2;
    font-size: 1.4rem;
    font-weight: 700;

    &__container {
        @include flexbox;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        flex-grow: 1;
    }

    &__box {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__empty {
        flex-grow: 3;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__icon {
        text-align: center;
        color: $color-white;
        background-color: $color-black;
        font-size: 2.7rem;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        border-radius: 50%;
        @include transition;

        &:hover,
        &:active {
            color: $color-primary;
        }
    }
}