.footer {
    padding: 3rem 0;
    color: $color-grey-2;
    font-size: 1.4rem;
    font-weight: 700;

    &__box {
        @include flexbox;
        align-items: center;
        justify-content: space-between;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__text {
        flex-grow: 1;

        @include respond(break-l) {
            margin-bottom: 3rem;
        }

        @include respond(break-s) {
            text-align: center;
        }
    }

    &__social {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__filler {
        flex-grow: 3;

        @include respond(break-l) {
            display: none;
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        margin: 1rem;

        @include respond(break-s) {
            margin: .5rem;
        }
    }

    &__icon {
        text-align: center;
        color: $color-white;
        background-color: $color-black;
        font-size: 2.7rem;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        border-radius: 50%;
        @include transition;

        @include respond(hover) {
            &:hover,
            &:active {
                color: $color-primary;
            }
        }
    }
}