.logotypes {
    padding: 6rem 0;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__img {
        width: auto;
        height: 100%;
    }
}