.services {
    text-align: center;
    @include section-padding;

    &__container {
        @include flexbox;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__box {
        flex-basis: percentage($number: 1 / 3);

        @include respond(break-l) {
            margin-top: 2rem;;
        }
    }

    &__icon {
        color: $color-primary;
        font-size: 3.5rem;
        border: 3px solid $color-primary;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
    }
}