.services {
    text-align: center;
    @include section-padding;

    &__icon {
        color: $color-primary;
        font-size: 3.5rem;
        border: 3px solid $color-primary;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
    }
}