$color-primary: #fed233;
$color-primary-dark: #e5b407;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-1: #f7f7f7;
$color-grey-2: #999;
$color-grey-3: #c8c8c8;

$font-primary: 'Roboto', sans-serif;
$font-header: 'Charm', cursive;
$font-logo: 'Great Vibes', cursive;
$font-paragraph: 'Aleo', serif;

$break-xl: 1200px;
$break-l: 991px;
$break-m: 767px;
$break-s: 576px;
$break-xs: 320px;

@mixin respond($breakpoint) {
    @if $breakpoint == break-xs {
        @media only screen and (max-width: $break-xs) { @content };
    }
    @if $breakpoint == break-s {
        @media only screen and (max-width: $break-s) { @content };
    }
    @if $breakpoint == break-m {
        @media only screen and (max-width: $break-m) { @content };
    }
    @if $breakpoint == break-l {
        @media only screen and (max-width: $break-l) { @content };
    }
    @if $breakpoint == break-xl {
        @media only screen and (max-width: $break-xl) { @content };
    }
    @if $breakpoint == hover {
        @media only screen and (min-width: $break-xl) { @content };
    }
}

@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transition {
    transition: all .2s ease-out;
}

@mixin section-padding {
    padding: 12.5rem 0;

    @include respond(break-xl) {
        padding: 12.5rem 2rem;
    }

    @include respond(break-l) {
        padding: 10rem 2rem;
    }

    @include respond(break-m) {
        padding: 8rem 2rem;
    }

    @include respond(break-s) {
        padding: 6.5rem 2rem;
    }
}

@mixin flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin margin-top { margin-top: 1.3rem !important; }
@mixin margin-top-small { margin-top: 2rem !important; }
@mixin margin-top-medium { margin-top: 4rem !important; }
@mixin margin-top-large { margin-top: 6rem !important; }
@mixin margin-top-big { margin-top: 8rem !important; }
@mixin margin-top-huge { margin-top: 10rem !important; }

@mixin margin-bottom { margin-bottom: 1.3rem !important; }
@mixin margin-bottom-small { margin-bottom: 2rem !important; }
@mixin margin-bottom-medium { margin-bottom: 4rem !important; }
@mixin margin-bottom-large { margin-bottom: 6rem !important; }
@mixin margin-bottom-big { margin-bottom: 8rem !important; }
@mixin margin-bottom-huge { margin-bottom: 10rem !important; }