$color-primary: #fed233;
$color-primary-dark: #e5b407;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-1: #f7f7f7;
$color-grey-2: #999;
$color-grey-3: #c8c8c8;

$font-primary: 'Roboto', sans-serif;
$font-header: 'Charm', cursive;
$font-logo: 'Great Vibes', cursive;
$font-paragraph: 'Aleo', serif;

$break-xl: 1200px;
$break-l: 991px;
$break-s: 767px;
$break-xs: 320px;

@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transition {
    transition: all .2s ease-out;
}

@mixin section-padding {
    padding: 12.5rem 0;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: $break-xs) { @content };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: $break-s) { @content };
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: $break-l) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (max-width: $break-xl) { @content };
    }
}