$color-primary: #fed233;
$color-primary-dark: #e5b407;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-1: #313332;
$color-grey-2: #999;

$font-primary: 'Roboto', sans-serif;
$font-header: 'Charm', cursive;
$font-logo: 'Great Vibes', cursive;
$font-paragraph: 'Aleo', serif;

$break-xl: 1200px;
$break-l: 991px;
$break-s: 767px;
$break-xs: 320px;

@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transition {
    transition: all .2s ease-out;
}

@mixin section-padding {
    padding: 10rem 0;
}